body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4rem;
}

#suckAtHusbanding {
    color: white;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/angrywiferollingpin.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
  }

 #hero2 {
    color: white;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/hubbygoatMainHero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
  }

  #logoHero {
    width: 60%;
    Height: auto; 
    margin-bottom: 20px;
  }

  .navbar {
      background-color: black;
      color: white;
  }

  .nav-link {
      color: white;
  }

#msgFeatureBlock img {
    background-color: black;
}

#calendarQuizTempImg {
    max-height: 400px;
}

/* thisis just temp to show color*/
#betterNameLater {
    background-color: yellow;
}

#betterNameLater2 {
    background-color: red;
}

.fa-arrow-circle-down {
    position: absolute;
    bottom: 10px;
}
