$color-green: #305049;
$color-gray: #f1eeee;
$color-beige: #efd1a9;

$body-font: 'Montserrat', sans-serif;
$header-font: 'Montserrat', sans-serif;



body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $body-font
}

h1 {
    font-size: 4rem;
}

#suckAtHusbanding {
    color: white;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/angrywiferollingpin.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
  }

 #hero2 {
    color: white;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/hubbygoatMainHero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
  }

  #logoHero {
    width: 60%;
    Height: auto; 
    margin-bottom: 20px;
  }

  .navbar {
      background-color: $color-green;
      color: $color-gray;
  }

  .nav-link {
      color: white;
  }

#calendarQuizTempImg {
    max-height: 400px;
    position: absolute;
}

/* thisis just temp to show color*/
#betterNameLater {
    background-color:$color-beige
}

#betterNameLater2 {
    background-color: red;
}

.fa-arrow-circle-down {
    position: absolute;
    bottom: 10px;
}

.site-footer {
    background-color: $color-green;
    color: $color-gray;
    padding: 20px 20px;
}

.footer-logo {
    max-width: 200px;
    max-height: auto;
    margin-top: 15px;
}

.media-body {
    p {
        padding-left: 10px;
        margin-bottom: 2px;
        margin-top: 5px;
    }
    a {
        color: $color-gray;
        &:hover {
        color: $color-beige;
        }
    }
    span {
        color: #969696;
        padding-left: 10px;
    }
}

.media-object {
    margin-top: 5px;
}

ul.pages { 
    list-style:none; 
    padding:0px;
    li { 
        padding:5px 0px;
    }
    a { 
        color: $color-gray; 
        font-weight:bold; 
        text-transform:uppercase; 
    }
    a:hover { 
        color:$color-beige; 
        text-decoration:none; }
} 

ul.list { 
    list-style:none; 
    padding:0px; 
    li { 
        padding:5px 0px;
    }
    a { 
        color:$color-gray; 
    }
    a:hover { 
        color:$color-beige; 
        text-decoration:none; 
    }
}

/*login modal formatting*/
.footer-section-header {
    margin-top: 15px;
}

.form-dark .font-small {
    font-size: 0.8rem; }
  
  .form-dark [type="radio"] + label,
  .form-dark [type="checkbox"] + label {
    font-size: 0.8rem; }
  
  .form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; }
  
  .form-dark .md-form label {
    color: #fff; }
  
  .form-dark input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }
  
  .form-dark input[type=email]:focus:not([readonly]) + label {
    color: #fff; }
  
  .form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }
  
  .form-dark input[type=password]:focus:not([readonly]) + label {
    color: #fff; }
  
  .form-dark input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #fff;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  
  .form-dark input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  
  .form-dark .modal-header {
      border-bottom: none;
  }
  /*login modal formatting*/